.container{
  background-color: rebeccapurple;
  width: 50%;
  margin: 50px auto ;
  min-height: 500px;
  border-radius: 20px;


}

.todoTitle{
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.782);
  display: flex;
}

.todo{
display: flex;
letter-spacing: 1px;
margin-bottom: 20px;
}

.text{
  max-width: 80%;
  min-width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffff;

  
}

.buttonGroup{
  display: flex;
  margin: 0 auto;
  gap: 10px;
  color: #ffff;
  
}





